[DesktopEntry]
Name=solus-dark
Comment=solus-dark
X-KDE-PluginInfo-Author=Solus Plasma
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=Appache-2.0
X-KDE-PluginInfo-Name=solus-dark
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://getsol.us
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Api=5.0

[Settings]
FallbackTheme=breeze-dark

[Wallpaper]
defaultWallpaperTheme=SolusPlasma
defaultFileSuffix=.jpg
defaultHeight=1080
defaultWidth=1920

[ContrastEffect]
enable=true
contrast=0.5
intensity=0.5
saturation=1.7

[AdaptiveTransparency]
enabled=true
