[Desktop Entry]
Name=SolusPlasma

X-KDE-PluginInfo-Name=SolusPlasma
X-KDE-PluginInfo-Author=John McCormack's
X-KDE-PluginInfo-Email=copyright@getsol.us
X-KDE-PluginInfo-License=Copyright
