[Desktop Entry]
Name=SolusPlasma

X-KDE-PluginInfo-Name=SolusPlasma
X-KDE-PluginInfo-Author=John McCormack's
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL2
