[DesktopEntry]
Name=SolusDark
Comment=SolusDark
X-KDE-PluginInfo-Author=Solus Plasma
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=Appache-2.0
X-KDE-PluginInfo-Name=solusdark
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://getsol.us
X-Plasma-Api=5.0

[Settings]
FallbackTheme=breeze-dark

[Wallpaper]
defaultWallpaperTheme=SolusPlasma
defaultFileSuffix=.jpg
defaultHeight=1080
defaultWidth=1920

[ContrastEffect]
contrast=0.5
enable=true
intensity=0.5
saturation=1.7

[Desktop Entry]
X-KDE-PluginInfo-Version=0.0.8

[AdaptiveTransparency]
enabled=true
